@model Materia

<div class="form-group col-4">
    <label asp-for="Nome"></label>
    <select asp-for="Nome" asp-items="@Html.GetEnumSelectList<NomeMateria>()" class="form-control">
        <option>Selecione</option>
    </select>
</div>

<form class="d-flex justify-content-around">
    <fieldset>
        <h2 class="text-info">Primeiro Semestre</h2>
        <div class="form-group col-6">
            <label asp-for="Nota."></label>
            <div class="form-group col-6">
                <input asp-for="Nota.Cp1" class="form-control" />
            </div>
        </div>
        <div class="form-group col-6">
            <label asp-for="Nota.Cp2"></label>
            <div class="form-group col-6">
                <input asp-for="Nota.Cp2" class="form-control" />
            </div>
        </div>
        <div class="form-group col-6">
            <label asp-for="Cp3"></label>
            <div class="form-group col-6">
                <input asp-for="Cp3" class="form-control" />
            </div>
        </div>
        <div class="form-group col-6">
            <label asp-for="Sprint1"></label>
            <div class="form-group col-6">
                <input asp-for="Sprint1" class="form-control" />
            </div>
        </div>
        <div class="form-group col-6">
            <label asp-for="Sprint2"></label>
            <div class="form-group col-6">
                <input asp-for="Sprint2" class="form-control" />
            </div>
        </div>
        <div class="form-group col-6">
            <label asp-for="GlobalSolution"></label>
            <div class="form-group col-6">
                <input asp-for="GlobalSolution" class="form-control" />
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="Media"></label>
            <input asp-for="Media" class="form-control" />
        </div>
    </fieldset>
    <div class="d-flex">
        <div class="vr"></div>
    </div>
    <div>
        <h2 class="text-info">Segundo Semestre</h2>        
        <div class="form-group col-6">
            <label asp-for="Cp1"></label>
            <div class="form-group col-6">
                <input asp-for="Cp1" class="form-control" />
            </div>
        </div>
        <div class="form-group col-6">
            <label asp-for="Cp2"></label>
            <div class="form-group col-6">
                <input asp-for="Cp2" class="form-control" />
            </div>
        </div>
        <div class="form-group col-6">
            <label asp-for="Cp3"></label>
            <div class="form-group col-6">
                <input asp-for="Cp3" class="form-control" />
            </div>
        </div>
        <div class="form-group col-6">
            <label asp-for="Sprint1"></label>
            <div class="form-group col-6">
                <input asp-for="Sprint1" class="form-control" />
            </div>
        </div>
        <div class="form-group col-6">
            <label asp-for="Sprint2"></label>
            <div class="form-group col-6">
                <input asp-for="Sprint2" class="form-control" />
            </div>
        </div>
        <div class="form-group col-6">
            <label asp-for="GlobalSolution"></label>
            <div class="form-group col-6">
                <input asp-for="GlobalSolution" class="form-control" />
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="Media"></label>
            <input asp-for="Media" class="form-control" />
        </div>
    </div>
</form>