@model Nota
@{
    ViewData["Title"] = "Registrar";
    ViewBag.Subtitulo = "Registrar nota";
}

<h1 class="text-primary">@ViewBag.Subtitulo</h1>
<hr>


<partial name="_PartialMessage" />

<form asp-action="Register">

    <partial name="_Form"></partial>

    <button class="btn btn-primary">Registro</button>
</form>
