@{
    ViewData["Title"] = "Calculadora de Notas do Semestre";
}

<h1>Bem-vindo à Calculadora de Notas do Semestre!</h1>

<p>
    Esta ferramenta permite calcular a média das suas notas ao longo do semestre de forma simples e eficaz. Aqui está como o cálculo é feito:
</p>

<h2>Checkpoints e Sprints:</h2>
<ul>
    <li>No semestre, você terá 3 checkpoints e 2 notas de sprints.</li>
    <li>A menor nota entre os 3 checkpoints será desconsiderada.</li>
</ul>

<h2>GlobalSolution:</h2>
<p>No final do semestre, você fará a GlobalSolution, que é a prova semestral.</p>

<h2>Cálculo da Média:</h2>
<p>No primeiro semestre, a média é calculada da seguinte forma:</p>
<pre>
    (((Checkpoint1 + Checkpoint2 + Sprint1 + Sprint2) / 4) * 0.4) + (GlobalSolution * 0.6)) * 0.4
</pre>
<p>No segundo semestre, a média é calculada da seguinte forma:</p>
<pre>
    (((Checkpoint1 + Checkpoint2 + Sprint1 + Sprint2) / 4) * 0.4) + (GlobalSolution * 0.6)) * 0.6
</pre>

<h2>Média Final:</h2>
<p>Sua média final é a soma das médias do primeiro e segundo semestres.</p>

<p>
    Comece a calcular sua média agora! Insira suas notas e obtenha uma estimativa precisa de como está se saindo no semestre. Lembre-se de que a menor nota entre os checkpoints será descartada para garantir uma avaliação justa.
</p>

<p>Boa sorte nos seus estudos e no cálculo das notas do semestre!</p>